/* About.module.css */

.about
{
    display: flex;
    color: white;
}

.container
{
    display: flex;
    flex-direction: row;

}

.main_container
{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.left_space
{
    min-width: 13vh;
}

.container_right
{
    min-width: 80vh;
}

.container_right h1
{
    color: white;
}

.about h1
{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.main_container h1
{
    color: white;
}

.main_container p
{
    color: white;
}

.website
{
    color: rgb(23, 91, 186);
    font-weight: bold;
    text-decoration: underline;
}