.container {
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  min-height: 80vh;
}

@media (max-width: 480px) {
  .imageLogo {
    width: 200px;
    height: 100px;
  }
}

.search_bar {
  width: 80%;
  height: 40px;
  border-radius: 40px;
  font-size: 1em;
}

.header {
  height: 10vh;
}