.container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lg_bar
{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.main
{
  min-height: 80vh;
}

.search_bar
{
  width: 130%;
  border-radius: 40px;
  font-size: 1em; /* You can use em for relative font size */
}