.list {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(57, 57, 59);
    color: white;
}

.listAbout {
    display: flex;
    justify-content: space-between;
    background-color: rgb(57, 57, 59);
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar i {
    margin-right: 15px;
    color: white;
}

.header {
    height: 10vh;
}