.header {
	overflow: hidden;
	height: 20%;
	display: flex;
	align-items: center;
}

.icon {
	border-radius: 1rem;
	width: 1rem;
	height: 1rem;
}

.title {
	color: #8ab4f8;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	margin-left: 0.875rem;
	text-decoration: none;
}

.title:hover {
	text-decoration: underline;
}

.title:visited {
	color: #c58af9;
}

.content {
	margin-top: 0.625rem;
	height: 70%;
	word-wrap: break-word;
	overflow: hidden;
}

.description {
	color: #FFFFFF;
	font-family: 'Inter', sans-serif;
	font-size: 1.125rem;
}