.header {
	background-color: #3A3A3A;
	height: 165px;
}

.content {
	display: flex;
	margin-left: 76px;
	margin-top: 30.75px;
	align-items: center;
}

.headerLogo {
	margin-right: 37px;
}

.inputDiv {
	display: flex;
	background-color: #FFFFFF;
	align-items: center;
	border-radius: 80px;
	height: 62px;
	width: 700px;
}

.inputDiv input {
	width: 80%;
	font-size: 18px;
	border: none;
}

.inputDiv input:focus {
	outline: none;
}

.inputIcon {
	margin-left: 18px;
	margin-right: 18px;
}

.buttons {
	margin-left: 288px;
	margin-top: 20px;
}

.button {
	margin-right: 10px;
	background: none;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	border: none;
	cursor: pointer;
	color: #FFFFFF;
}

.activeButton {
	margin-right: 10px;
	background: none;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	cursor: pointer;
	border: none;
	border-bottom: #FFFFFF 2px solid;
	color: #FFFFFF;
}