.header {
	background-color: #3A3A3A;
	height: 25%;
}

.content {
	display: flex;
	margin-top: 2%;
	align-items: center;
}

@media (max-width: 480px) {
	.content {
		flex-direction: column;
	}
}

.headerLogo {
	margin-left: 5%;
	margin-right: 2%;
	cursor: pointer;
}

@media (max-width: 480px) {
	.headerLogo {
		margin-left: 0;
		margin-right: 0;
	}
}

.searchBar {
	width: 75%;
}

.buttons {
	margin-left: 19%;
	margin-top: 2%;
}

@media (max-width: 480px) {
	.buttons {
		margin-top: 8%;
		margin-left: 11%;
	}
}

.button {
	margin-right: 2%;
	background: none;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	border: none;
	cursor: pointer;
	color: #FFFFFF;
}

.activeButton {
	margin-right: 2%;
	background: none;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	cursor: pointer;
	border: none;
	border-bottom: #FFFFFF 2px solid;
	color: #FFFFFF;
}